<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")%>

    <title>Footer</title>

<body>
    <div class="footerPrincipal">
        <footer>
            <main>
                <div class="footer-main">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <ul>
                            <p>Follow in: </p>
                            <a href="#" class="hover"><i class="fab fa-facebook hover" aria-hidden="true"></i> Facebook</a>
                            <a href="#" class="hover"><i class="fab fa-twitter hover" aria-hidden="true"></i> Twitter</a>
                            <a href="#" class="hover"><i class="fab fa-instagram hover" aria-hidden="true"></i> Instagram</a>
                        </ul>
                       <!--  <button type="submit" class="envio"><a href="/administracion">Admin</a></button> -->
                    </div>
                </div>

                <div class="footer-copyright">
                    <p>Made with <i class="fas fa-heart"></i> by DIGITAL HOUSE - Worldwide 2022 - All Rights Reserved.
                    </p>
                </div>
            </main>
        </footer>
    </div>
</body>

</html>