<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    <title>Header</title>

<body>
    <header>
    <div class="ancho">
        <div class="logo-challa">

     <nav class="menu-principal">
        
        <ul>

        <a href="./"> <img class="logo" src="/images/challa.png"></a>
        <li class="header-ul"><a class="header-li" href="/productList">MENU</a></li>
        <li class="header-ul"><a class="header-li" href="/">KOSHER WHAT?</a></li>
        <li class="header-ul"><a class="header-li" href="/">ABOUT US</a></li>
        <li class="header-ul"><a class="header-li" href="/login">LOGIN</a></li>
        <li class="header-ul"><a class="header-li" href="/main/register"> PROFILE</a></li>
        <li class="header-ul"><a href="./shopping"><i class="fa fa-1x fa-shopping-basket header-li" ></i></a></li>
        </ul>
    </nav>
    </div>
    </div>
    </header>
</body>
</html>

