<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    <title>Header</title>

<body>
    <header>
    <div class="ancho">
        <div class="logo-challa">

     <nav class="menu-principal">
        <ul>

        <li><a href="/"> <img class="logo" src="/images/challa.png"  </a></li>
        <li><a href="/productList">MENU</a></li>
        <li><a href="/">KOSHER WHAT?</a></li>
        <li><a href="/">ABOUT US</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/"> PROFILE</a></li>
        <li><a href="/carrito"></a></li>
        <li><a href=""></a></li>
        <li><i class="fa-solid fa-cart-shopping-fast"></i></li>
        </ul>
    </div>
    </div>
    </header>
</body>
</html>


