<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    
        <ul class="menu-base">
        
             <div class="botones">

                <a> <button class="logo" type="submit"  href="./home"><img  src="/images/challa.jpeg"></a></button>
<a><button type="submit" class="menu-arriba"><a href="./detailsproduct"> MENU </a></button>    
     <a><button type="submit" class="menu-arriba"><a href="/"> KOSHER WHAT? </a></button>           
         <a> <button type="submit" class="menu-arriba"><a href="/"> ABOUT US </a></button>   
             <a><button type="submit" class="menu-arriba"><a href="./login"> LOGIN </a></button>  
            <li> <button type="submit" class="menu-arriba"><a href="/"> PROFILE </a></button>
             <li> <button type="submit" class="menu-arriba1"><a href="./carrito"><i class='fas fa-shopping-basket fa-2x'></i></a>  </button>

    
            </div>
        </ul>
    
        </div>
    </div>
    </header>
</body>
</html>