<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    <title>Header</title>

<body>
    <header>
    <div class="ancho">
        <div class="logo-challa">

     <nav class="menu-principal">
        <ul>

        <li><a href="./"> <img class="logo" src="/images/challa.png"></a></li>
        <li><a class="lista" href="/productList">MENU</a></li>
        <li><a class="lista" href="/">KOSHER WHAT?</a></li>
        <li><a class="lista" href="/">ABOUT US</a></li>
        <li><a class="lista" href="/login">LOGIN</a></li>
        <li><a class="lista" href="/main/register"> PROFILE</a></li>
        <li><a class="lista" href="./shopping"><i class="fa fa-1x fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    </div>
    </div>
    </header>
</body>
</html>

