/*Header*/

* {
    
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
    color: black;
    text-align: center;
    font-family: lora;
    box-sizing: border-box;

}


main {
    background-image: url("/images/various/ilustracion-textura-yogur.jpg");
}

header {
    width: 100%;
    height: 200px;
    background-image: url("/images/various/13.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;

}
.height{
    height: 40px;
}

.ancho {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 20%;
    height: 20%;
    float: left;
    position: relative; top: -50px; 

}

.logo:hover {
    opacity: .9;
}

nav {
    width: 80%;
    float: center;
    text-align: center;
    padding-top: 60px;
}

.header-ul {
    display: inline;
    margin-top: 10px;
}

.header-li {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    
}



nav ul li a i {
    color: #ffffff;
}

nav ul li a i:hover{

    color: lightsalmon;
}

nav ul li a:hover {
    color: lightsalmon;

}
@media all and (max-width: 600px) {
    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .boton-menu{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .menu-izq{
    
        width: 40%;
        text-align: center;
    }
    .menu-der{
        width: 40%;
        text-align: center;
    }
    }
   
  








.menu-abajo {
    top: 50%;
    background-color: rgb(223, 187, 187);
    width: 90%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

.menu-abajo:hover {
    box-shadow: 0px 0px 2px 2px rgb(116, 92, 92);
}

/* MENUUUUUUU*/


.botones {

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


.boton-menu {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu-izq {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.menu-der {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 80%;
}

body {
    box-sizing: border-box;
    list-style: none;
    color: black;
    text-align: center;
    position: absolute;
    width: 100vw!important;
    background-image: url("/images/various/ilustracion-textura-yogur.jpg");
    background-size: cover;
    min-height: 100vh;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

}

/*Footer*/

footer{ 
    text-decoration: none;
    width: 100%;
    position: static;
}

.footerPrincipal {
    bottom: 0%;
    width: 100%;
}

.footer-main {
    margin-top: 20px;
    padding-top: 50px;
    padding: 10px 0px;
    background: rgb(216, 125, 91);
    height: auto;
    width: 100%;
}

.footer-top-box {
    background-color: rgb(216, 125, 91);
}

.footer-top-box h3 {
    color: black;
    position: relative;
    font-size: 20px;
}

.footer-top-box h3::before {
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.footer-top-box p {
    padding-bottom: 5px;
    color: black;
    font-size: 16px;
}

.footer-top-box ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-top-box ul li {
    float: left;
}

.footer-copyright {
    background: rgb(223, 144, 60);
    padding: 5px 0px;
    position: relative;
    width: 100%;
}

.footer-copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

/*Home*/

/*Login*/

.welcome {
    border: solid 3px rgb(223, 144, 60);
    background-color: rgb(216, 125, 91);
    box-shadow: 10px rgb(223, 169, 60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.title-login {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: black;
    text-align: center;
}

.alignLeft{
    display: block;
    align-items: flex-start;
    margin-block-start: auto;
    justify-content: left;
    width: 100%;
    text-align: left;
    
}
.pControl{
    text-align: left;
    font-weight: bolder;
}

.whidthBox{
    width: 100%;
    text-align: left;
    padding: 10px;
}

.border{
    border: red solid 2px;
}

.textSize{
    font-size: 20px;
}

.form-all {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 15px auto;
    width: 30%;
    align-items: center;
    border: solid 3px rgb(216, 125, 91);
    background-color: rgb(216, 125, 91);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px rgb(255, 132, 0);
}

.login-left {
    justify-content: center;
}

.login-rigth {
    margin-top: 10px;
    margin-left: -25px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 45px;
}

.inlineBut {
    display: block;
    width: 100%;
}

/*Register*/
p {
    font-size: 12px;
    
}

.error {
    font-weight: bold;
    color: red;
    font-size: large;
    text-align: left;
}

.paddingAvatars {
    padding: 0px 5px 0px 5px;
}

.button-register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.check-register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.engloba-register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.center {
    margin: auto;
}
.avatars{
    display: inline-block;
    width: 100%;
    box-sizing: content-box;
}

.avatarsZone{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/*productList*/

.titleProdList {
    padding-top: 20px;
}

.prodListName {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 80px;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.productos {
    margin: 15px;
    width: 150px;
}

.envio {
    text-align: center;
    border: none;
}

.prodListSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Carrito*/

.mainCart {
   position: relative;
}

.engloba-carrito {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
}

.productos-carrito {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foto-producto {
    text-align: center;
    margin: 10px;
    padding: 15px;
}

.precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
}

.cantidad {
    display: flex;
    padding: 16px;
    margin-right: 40px;
}

.input {
    max-width: 100px;
    border-width: 0px;
    background-color: #eee;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    margin-right: 40px;
}
.buttonRigth {
    width: 100%;
    display: flex;
    justify-content: end;
}
.finalizar-compra {
    width: 50%;
    background-color: aquamarine;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: none;
    margin-right: 10px;
}

.menudesplegable {
    display: inline-block;
    position: relative;
}

.menudesplegable:hover {
    display: block;
}


/*users*/
.caja-ventana {
    background-color: #eee;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 15px auto;
    width: 30%;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}


/*detalle*/

.descripDetalle {
    font-family: 'Parisienne', cursive;
    font-size: 24px;
}

.fotoDet {
    border-style: double;
}

.widthResponsive{
    width: 90%;
}

.centVert {
    display: flex;
    align-items: center;
}

/*Editar*/

.noShow {
    display: none;
}

.pEdit {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 80px;
    font-size: 16px;
    text-align: center;
    width: 100%;
}


@media all and (max-width: 600px) {
    header {
        flex-direction: column;

        margin-bottom: 20px;
    }
}  

@media  (min-width: 769px) {
    .widthResponsive {
        width: 50%;
    }
    .finalizar-compra {
        width: 30%;
    }
    .padding{
        padding: 10px;
    }
}

