<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>About Us</title>

    <body>
        <%- include("../partials/header")%>
            <main>
                <h2 class="title-about">About Us</h2>
                <h3 bold>We are a family run business with a passion for what we do. We pride ourselves on our friendly
                    professional service. We have a strong focus on quality, from great food that is locally sourced to our friendly &
                    professional team</h3>
                <div class="about">

                    <p class="about">Homemade food is usually prepared with natural ingredients compared to
                        commercially prepared food. Plainly, the food has its taste however those are ready using
                        unprocessed foods that are by no means healthy. For example: the fast foods comprises great deal
                        of sugar, fat and sodium.
                </div>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>