<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")%>
  <title>Product</title>

<body>
    <%- include("../partials/header")%> 
<main>
<p>Nombre del Producto: Budin con chispitas</p>
<p>Descripcion: Bizcochuelo de vainilla super humedo con lluvia de chispas de chocolate </p>
    
</main>

    <%- include("../partials/footer")%> 

</body>
</html>