<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
    <title>EditProducts</title>
    
    <body>
    <%- include("../partials/header")%> 

    <main>
        <h3>Editar Productos</h3>
        <section>
          <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/bagel.jpeg" alt="bagel">
                 <p>Carrot Cake</p>
            <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
                 
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/budin.jpeg" alt="budin">
                 <p>Budin con Chispitas</p>
            <div class="envio">
                <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
                
            </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/selvanegra-1.jpeg" alt="selva">
                 <p>Selva Negra</p>
                 <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/cakes/tortacapascolores.jpeg" alt="crutons">
                 <p>Torta de Manzana</p>
                 <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/kujelarandanos.jpeg" alt="budin">
                 <p>Kujel de Arandanos</p>
                 <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/stroisel.jpeg" alt="stroisel">
                 <p>Stroilsel</p>
                 <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/cakes/tortatcapas.jpeg" alt="capas">
                 <p>Crocante</p>
                 <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/cakes/tortatfrutilla.jpeg" alt="frutilla">
                 <p>Tarta de Frutilla</p>
                 <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
            </div>
            </div>
        </article> 
    </section>
        <section class="masproducts">
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/2jalot.jpeg" alt="jalot">
                <p>Jalot</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/boios.jpeg" alt="boios">
                <p>boios</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/lajmashin.jpeg" alt="frutilla">
                <p>lajmashin</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/shakshuka.jpg" alt="frutilla">
                <p>Shakshuka</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/tarts/tartabroc.jpeg" alt="tarta">
                <p>Tarta de Brocoli</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/tarts/tartaqueso.jpeg" alt="tarta">
                <p>Tarta de Queso</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/tarts/tartazapallito.jpeg" alt="tarta">
                <p>Tarta de Zapallito</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/dips/dip1.jpeg" alt="dip">
                <p>Dips</p>
                <div class="envio">
                    <button type="submit" class="envio"><a href="/ventana-editar">Editar Producto</a></button>
           </div>
           </div>
        </article>
    </section>

    </main>
    <%- include("../partials/footer")%> 

</body>
</html>