<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

    <title>Home</title>

    <body>
        <%- include("../partials/header")%>

            <main>
                <div class="boton-menu">
                    <ul class="menu-izq" type="none">
                        <li><button type="submit" class="menu-abajo" value="searchDesserts"><a href="/productList/Desserts"> DESSERTS
                                </a></button></li>
                        <li><button type="submit" class="menu-abajo" value="searchCakes"><a href="/productList/Cakes"> CAKES
                                </a></button></li>
                        <li><button type="submit" class="menu-abajo" value="searchTarts"><a href="/productList/Tarts"> TARTS
                                </a></button></li>
                    </ul>
                    <ul class="menu-der" type="none">
                        <li><button type="submit" class="menu-abajo" value="searchDips"><a href="/productList/Dips"> DIPS </a></button>
                        </li>
                        <li><button type="submit" class="menu-abajo" value="searchShabatYChagim"><a href="/productList/Shabat y Chagim"> SHABAT Y
                                    CHAGIM </a></button></li>
                        <li><button type="submit" class="menu-abajo" value="searchArgentina"><a href="/productList/Argentina"> ARGENTINA
                                </a></button></li>

                    </ul>
                </div>
            </main>
            <%- include("../partials/footer")%>
    </body>

    </body>

</html>