<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fo/Users/user/Desktop/Visual Studio Code.app/Contents/Resources/app/out/vs/code/electron-sandbox/workbench/workbench.htmlnt-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/2f8656e518.js">
    <script src="https://kit.fontawesome.com/2f8656e518.js" crossorigin="anonymous"></script>

    <title>home</title>
  </head>
<header>  
    
    <div class="menu-base">
    
         <div class="botones">
            <button type="submit" class="menu-arriba1"><a href="./home.html"><img width="70px" height="70px" src="/images/challa.jpeg" class="logo" alt="logo"> </a></button>
            <button type="submit" class="menu-arriba"><a href="/"> MENU </a></button>     
            <button type="submit" class="menu-arriba"><a href="/"> KOSHER WHAT? </a></button>  
            <button type="submit" class="menu-arriba"><a href="/"> ABOUT US </a></button>  
            <button type="submit" class="menu-arriba"><a href="/"> LOGIN </a></button> 
            <button type="submit" class="menu-arriba"><a href="/"> PROFILE </a></button>
            <button type="submit" class="menu-arriba1"><a href="/"><i class='fas fa-shopping-basket fa-2x'></i></button>

        </div>
        </div>

    </div>
</div>
</header>
<body>
    <div class="boton-menu">
        <ul class="menu-izq">
            <li><button type="submit" class="menu-abajo"><a href="/"> DESERTS </a></button></li>
            <li><button type="submit" class="menu-abajo"><a href="/"> CAKES </a></button></li>
            <li><button type="submit" class="menu-abajo"><a href="/"> TARTS </a></button></li>
        </ul>
        <ul class="menu-der">
            <li><button type="submit" class="menu-abajo"><a href="/"> DIPS </a></button></li>
            <li><button type="submit" class="menu-abajo"><a href="/"> SHABAT Y CHAGIM </a></button></li>
            <li><button type="submit" class="menu-abajo"><a href="/"> ARGENTINA </a></button></li>

        </ul>

    </div>


</body>
<footer>
    <div class="footer-main">
        <div class="footer-top-box">
            <h3>Social Media</h3>
            <ul>
            <p>Follow in: </p>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <p >Made with  <i class="fas fa-heart"></i> by DIGITAL HOUSE - Worldwide 2022 - All Rights Reserved.  </p>
    </div>
</footer>
</body>
</html>