<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Home</title>

    <body>
        <%- include("../partials/header")%>

            <main>
                <div class="boton-menu">
                    <ul class="menu-izq">
                        <li><button type="submit" class="menu-abajo" value="searchDesserts"><a href="/"> DESSERTS
                                </a></button></li>
                        <li><button type="submit" class="menu-abajo" value="searchCakes"><a href="/"> CAKES
                                </a></button></li>
                        <li><button type="submit" class="menu-abajo" value="searchTarts"><a href="/"> TARTS
                                </a></button></li>
                    </ul>
                    <ul class="menu-der">
                        <li><button type="submit" class="menu-abajo" value="searchDips"><a href="/"> DIPS </a></button>
                        </li>
                        <li><button type="submit" class="menu-abajo" value="searchShabatYChagim"><a href="/"> SHABAT Y
                                    CHAGIM </a></button></li>
                        <li><button type="submit" class="menu-abajo" value="searchArgentina"><a href="/"> ARGENTINA
                                </a></button></li>

                    </ul>

                </div>
            </main>
            <%- include("../partials/footer")%>
    </body>

    </body>

</html>