<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Kosher What</title>

    <body>
        <%- include("../partials/header")%>
            <main>
                <h4 class="title-login">What Does Kosher Mean?</h4>
                <div class="kosher">   
                <p class="koshertext">Kosher food is any food fit for consumption by Jewish people according to the Jewish Laws of Kosher that define which foods can and cannot be eaten, and also how we should produce and handle certain foods. <br>
                    The laws also state which combinations of foods people should avoid, for example meat and dairy.
                    In Challah & More we cook all of our delicious food according to this laws, preparing them with %100 kosher ingredients. 
                </p>
                  </div> 
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>