<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Kosher What</title>

    <body>
        <%- include("../partials/header")%>
            <main>
                <br>
                <h2 class="title-kosher">What Does Kosher Mean?</h2>
                <div class="kosher">   
                <p class="koshertext">Kosher food is any food fit for consumption by Jewish people according to the Jewish Laws of Kosher that define which foods can and cannot be eaten, how we should produce and handle certain foods,
                    which species of animals (and their eggs and milk) are permitted and which others not, such as pork and shellfish have been outlawed since biblical times because they were considered unclean under those ancient dietary guidelines. <br>
                    The laws also state which combinations of foods people should avoid, for example meat and dairy. Utensils are cleaned and separated for each type of food in order to avoid cross-contamination. <br> 
                    Separate utensils are used for meat than what’s used for dairy products because a waiting period must be observed after eating one before being able to eat the other. <br>
                    This law was written into Judaism’s basic teachings about living an ethical life with “respect” towards all creatures on Earth including ourselves. <br>
                    In Challah & More we cook all of our delicious food according to this laws, preparing them with 100% kosher ingredients and utensils. 
                </p>
                  </div> 

                  <button type="submit" class="order" value="order"><a href="/productList">Order Now</a></button>
                        
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>