<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
         
        <header>
            <header>  
    
                <div class="menu-base">
                
                     <div class="botones">
                        <button type="submit" class="menu-arriba1"><a href="./home.html"><img width="70px" height="70px" src="/images/challa.jpeg" class="logo" alt="logo"> </a></button>
                        <button type="submit" class="menu-arriba"><a href="/"> MENU </a></button>     
                        <button type="submit" class="menu-arriba"><a href="/"> KOSHER WHAT? </a></button>  
                        <button type="submit" class="menu-arriba"><a href="/"> ABOUT US </a></button>  
                        <button type="submit" class="menu-arriba"><a href="/"> LOGIN </a></button> 
                        <button type="submit" class="menu-arriba"><a href="/"> PROFILE </a></button>
                        <button type="submit" class="menu-arriba1"><a href="/"><i class='fas fa-shopping-basket fa-2x'></i></button>
            
                    </div>
                    </div>
            
                </div>
            </div>
            </header>

    </header>
        
        <main>

            <h3 class="welcome">Welcome back!! </h3>
            <h4 class="title-login">Login</h4>

            <form action="/login" method="POST" class="form-all">
                <div class="login-left">
                    <div class="form-control">  
                        <input type="username" name="username" placeholder="Username" required>
                        <span><p>Username does not exist</p></span>
                    </div>
                    <div class="form-control">  
                        <input type="password" name="password" placeholder="Enter your password" required>
                        <span><p>Incorrect password</p></span>
                        <div class="checkone">
                            <div class="checkbox-item"><input type="checkbox" name="Remember me" value="Remember me" id="Remember me" class="check">
                            <label for="remember">Remember me</label></div>
                        </div>

                        <div class="otrasopciones">
                        <button type="submit" class="option"><a href="/"> I forgot my password </a></button>  
                        </div>
                    </div>
                </div>

                <div class="login-rigth">
                    <button type="submit" class="login"><a href="/">Login</a></button>
                </div>
            </form>
                    
            
                
            
            
        </main>
        <footer>
            <div class="footer-main">
                <div class="footer-top-box">
                    <h3>Social Media</h3>
                    <ul>
                    <p>Follow in: </p>
                        <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i> Facebook</a>
                        <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a>
                        <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a>
                    </ul>
                </div>
            </div>
        
            <div class="footer-copyright">
                <p >Made with  <i class="fas fa-heart"></i> by DIGITAL HOUSE - Worldwide 2022 - All Rights Reserved.  </p>
            </div>
        </footer>
    </body>
</html>