<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <%- include("../partials/header")%> 
        <main>

            <h3 class="welcome">Welcome back!! </h3>
            <h4 class="title-login">Login</h4>

            <form action="/login" method="POST" class="form-all">
                <div class="login-left">
                    <div class="form-control">  
                        <input type="username" name="username" placeholder="Username" required>
                        <span><p>Username does not exist</p></span>
                    </div>
                    <div class="form-control">  
                        <input type="password" name="password" placeholder="Enter your password" required>
                        <span><p>Incorrect password</p></span>
                        <div class="checkone">
                            <div class="checkbox-item"><input type="checkbox" name="Remember me" value="Remember me" id="Remember me" class="check">
                            <label for="remember">Remember me</label></div>
                        </div>

                        <div class="otrasopciones">
                        <button type="submit" class="option"><a href="/"> I forgot my password </a></button>  
                        </div>
                    </div>
                </div>

                <div class="login-rigth">
                    <button type="submit" class="login"><a href="/">Login</a></button>
                </div>
            </form>
                    
            
                
            
            
        </main>
        <%- include("../partials/footer")%> 
    </body>
</html>