<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")%>
  <title>Product</title>

  <%- include("productReq") %> 

<body>

    <%- include("../partials/header")%> 
<main>


| 
</main>

    <%- include("../partials/footer")%> 

</body>
</html>