<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
  <title>Create</title>

  <body>
    <%- include("../partials/header")%>

      <main>

        <h1 class="titleProdList">Crear Producto</h1>


        <form action="/productCreatePost" method="POST" class="form-all">

          <div class="form-control">
            <label>Nombre del producto: </label>
            <input type="text" name="product_name">
          </div>
          <br>
          <div class="form-control">
            <label>Precio: </label>
            <input type="currency" name="price" placeholder="$">
          </div>
          <br>

          <div class="form-control">
            <label for="type">Tipo: </label>
            <select name="type">
              <option value="Desserts">Desserts</option>
              <option value="Cakes">Cakes</option>
              <option value="Tarts">Tarts</option>
              <option value="Dips">Dips</option>
              <option value="Shabat y Chagim">Shabat y Chagim</option>
              <option value="Argentina">Argentina</option>
          </select>
          </div>
          <br>
          <div class="form-control">
            <label>Foto: </label>
            <br>
              <input type="file" name="photo">
          </div>
          <br>
          <div class="form-control">
            <label>Nombre de la foto: </label>
            <input type="text" name="photo_name">
          </div>
          <br>
          <div class="form-control">
            <label>Descripcion: </label>
            <input type="text" name="descrip">
          </div>
          <br>
            <div class="envio">

              <button type="submit" class="menu-abajo"> Crear Producto</a></button>
          </div>
        </form>

      </main>

      <%- include("../partials/footer")%>

  </body>

</html>