<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
  <title>Create</title>

  <body>
    <%- include("../partials/header")%>

      <main>

        <h1 class="titleProdList">Crear Producto</h1>


        <form action="/productCreatePost/" method="POST" class="form-all">

          <div class="form-control">
            <label>Nombre del producto: </label>
            <input type="text" name="product_name">
          </div>
          <br>
          <div class="form-control">
            <label>Precio: </label>
            <input type="currency" name="price" placeholder="$">
          </div>
          <br>

          <div class="form-control">
            <label for="type">Tipo: </label>
            <select name="typeProd">
              <option value="desserts">Desserts</option>
              <option value="cakes">Cakes</option>
              <option value="tarts">Tarts</option>
              <option value="dips">Disps</option>
              <option value="shabat">Shabat y Chagim</option>
              <option value="argentina">Argentina</option>
          </select>
          </div>
          <br>
          <div class="form-control">
            <label>Foto: </label>
            <br>
              <input type="file" name="photo">
          </div>
          <br>
          <div class="form-control">
            <label>Nombre de la foto: </label>
            <input type="text" name="photo_name">
          </div>
          <br>
          <div class="form-control">
            <label>Descripcion: </label>
            <input type="text" name="descrip">
          </div>
          <br>
            <div class="envio">
            <% let rutaProdCreate="/productCreate/" %>
              <button type="submit" class="menu-abajo"><a href=<%=rutaProdCreate %>>Crear Producto</a></button>
          </div>

        </form>

      </main>

      <%- include("../partials/footer")%>

  </body>

</html>