<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")%>
  <title>Product</title>

<body>
    <%- include("../partials/header")%> 
<main>
    <p>Nombre del producto: <input type="text" name="nombre" required></p>
    <p>Descripcion del producto: <input type="text" name="nombre" required></p>
    <p>Perecio: <input type="text" name="nombre" required></p>
  <div class="categoria">
    <p>Categoria
    <input type="radio" name="boton" value="1">Dips<br>
<input type="radio" name="boton" value="2">Tartas<br>
<input type="radio" name="boton" value="3">Comida Shabat
</p>
<div class="archivo">
    <p>Seleccione la imagen del producto
<input type="file" name="archivo">
</p>
</div>
<div class="adjuntar">
<input type="submit" value="Crear producto" disabled>
</div>
  </div>
    
</main>

    <%- include("../partials/footer")%> 

</body>
</html>