<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Product Delete</title>

    <body>
        <%- include("../partials/header")%>
            <main class="centVert">
                <article class="form-all widthResponsive centVert">
                    <h1 class="titleProdList">Producto eliminado con exito</h1>
                    
                    <div class="envio">
                        <button type="submit" class="menu-abajo"><a href="/productList">Volver al menu</a></button>
                    </div>
                </article>

            </main>
            <%- include("../partials/footer")%>
    </body>

</html>