<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
  <title>Create</title>

  <body>
    <%- include("../partials/header")%>

      <main>

        <h1 class="titleProdList">Crear Producto</h1>


        <form action="/productCreatePost" method="POST" class="form-all widthResponsive centVert">

          <div class="form-control alignLeft">
            <label class="pControl">Nombre del producto: </label>
            <br><br>
            <input class="whidthBox" type="text" name="product_name">
          </div>
          <br><br>
          <div class="form-control alignLeft">
            <label class="pControl">Precio: </label>
            <br><br><input class="whidthBox" type="currency" name="price" placeholder="$">
          </div>
          <br>

          <div class="form-control alignLeft">
            <label class="pControl" for="type">Tipo: </label>
            <br><br><select class="whidthBox" name="type">
              <option value="Desserts">Desserts</option>
              <option value="Cakes">Cakes</option>
              <option value="Tarts">Tarts</option>
              <option value="Dips">Dips</option>
              <option value="Shabat y Chagim">Shabat y Chagim</option>
              <option value="Argentina">Argentina</option>
            </select>
          </div>
          <br>
          <div class="form-control alignLeft">
            <label class="pControl">Foto: </label>
            <br><br>
            <input class="whidthBox" type="file" name="photo">
          </div>
          <br>
          <div class="form-control alignLeft">
            <label class="pControl">Nombre de la foto: </label>
            <br><br><input class="whidthBox" type="text" name="photo_name">
          </div>
          <br>
          <div class="form-control alignLeft">
            <label class="pControl">Descripcion: </label>
            <br><br><input class="whidthBox" type="text" name="descrip">
          </div>
          <br>
          <div class="envio">

            <button type="submit" class="menu-abajo"><a> Crear Producto</a></button>
          </div>
          <div>

          </div>
        </form>

      </main>

      <%- include("../partials/footer")%>

  </body>

</html>