<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Register</title>

    <body>
        <%- include("../partials/header")%>
            <main>
                <h4 class="title-login">Register</h4>

                <form action="/register" method="POST" class="form-all widthResponsive centVert">
                    <div class="engloba-register widthResponsive">
                        <div class="form-control alignLeft">
                            <label for="">Username</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="username" required>
                            <span>
                                <p>Ese nombre de usuario ya existe</p>
                            </span>
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label for="">Email</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="email" name="email" required>
                            <span>
                                <p>Ingrese un email correcto</p>
                            </span>
                        </div>
                        <br>

                        <div class="form-control alignLeft">
                            <h2>Seleccione su avatar</h2> 
                            <br>
                    
                            <img src="/images/avatars/jala.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="jala.jpg">
                            <br>
                            
                            <img src="/images/avatars/kipa.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="kipa.jpg">
                            <br>
                            
                            <img src="/images/avatars/pletzale.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="pletzale.jpg">
                            <br>
                            
                            <img src="/images/avatars/pletzelViejo.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="pletzelViejo.jpg">
                            <br>
                            
                            <img src="/images/avatars/polloCorazon.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="polloCorazon.jpg">
                            <br>
                            
                            <img src="/images/avatars/pretzel.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="pretzel.jpg"><br>
                            <br>
                            <img src="/images/avatars/tostada.jpg" alt="" width="150px" height="150px">
                            <br>
                            <input type="radio" name="avatar" id="avatar" value="tostada.jpg">
                        </div>
                        <br>

                        <div class="form-control alignLeft">
                            <label for="">Password</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="password" required>
                            <span>
                                <p>La contraseña debe contener al menos 8 caracteres, incluyendo una mayúscula</p>
                            </span>
                        </div>
                        <br>

                        <div class="form-control alignLeft">
                            <label for="">Repeat password</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="repassword" required>
                            <span>
                                <p>Las contraseñas no coinciden</p>
                            </span>
                        </div>
                        <br>


                        <div class="envio">
                           
                                <button type="submit" class="menu-abajo"><a>Register</a>
                                </button>
                          
                                <button type="reset" class="menu-abajo">Reset</button>
                           
                        </div>

                        <div class="check-register alignLeft">
                            <div class="checkbox-item"><input type="checkbox" name="Remember me" value="Remember me"
                                    id="Remember me" class="check">
                                <br>
                                <label for="remember">Remember me</label>
                            </div>

                            <div class="checkbox-item"><input type="checkbox" name="Sign up for our newsletter"
                                    value="Sign up for our newslatter" id="newslatter" class="check">
                                <br>
                                <label for="Sign up for our newsletter">Sign up for our newsletter</label>
                            </div>
                        </div>

                    </div>
                </form>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>