<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")%>

<body>
    <%- include("../partials/header")%> 

<main>
<h3>Editar Producto</h3>
<div class="caja-ventana">
<form action="producto.php" method="get">
    <p>Nombre del Producto:<input type="text" name="nombre" size="40"></p>
    <p>Precio:<input type="number" name="precio" min="0"></p>
    <p>Cantidad:<input type="number" name="cantidad" min="0"></p>
    <p>Cambiar Imagen:<input type="file" name="archivo" value="image/*"></p>
    <p>
      <input type="submit" value="Actualizar">
      <input type="reset" value="Borrar">
    </p>
  </form>
</div>

</main>

    <%- include("../partials/footer")%> 

</body>
</html>