<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head")%>
    <title>Management</title>

    <body>
    <%- include("../partials/header")%> 

    <div class="boton-menu">
        <ul class="menu-izq">
            <li><button type="submit" class="menu-abajo"><a href="/productCreate"> CREAR PRODUCTO </a></button></li>
            <li><button type="submit" class="menu-abajo"><a href="/productEdit"> EDITAR PRODUCTO </a></button></li>
        </ul>
        <ul class="menu-der">
            <li><button type="submit" class="menu-abajo"><a href="/productDelete"> ELIMINAR PRODUCTO </a></button></li>
            <li><button type="submit" class="menu-abajo"><a href="/"> DETALLE DE PRODUCTO </a></button></li>
            
        </ul>

    </div>

    <%- include("../partials/footer")%> 
</body>
