<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fo/Users/user/Desktop/Visual Studio Code.app/Contents/Resources/app/out/vs/code/electron-sandbox/workbench/workbench.htmlnt-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/2f8656e518.js">
    <script src="https://kit.fontawesome.com/2f8656e518.js" crossorigin="anonymous"></script>

    <title>home</title>
  </head>

<body>
    <%- include("../partials/header")%> 
<main>
    <p>Nombre del producto: <input type="text" name="nombre" required></p>
    <p>Descripcion del producto: <input type="text" name="nombre" required></p>
    <p>Perecio: <input type="text" name="nombre" required></p>
  <div class="categoria">
    <p>Categoria
    <input type="radio" name="boton" value="1">Dips<br>
<input type="radio" name="boton" value="2">Tartas<br>
<input type="radio" name="boton" value="3">Comida Shabat
</p>
<div class="archivo">
    <p>Seleccione la imagen del producto
<input type="file" name="archivo">
</p>
</div>
<div class="adjuntar">
<input type="submit" value="Crear producto" disabled>
</div>
  </div>
    
</main>

    <%- include("../partials/footer")%> 

</body>
</html>