<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fo/Users/user/Desktop/Visual Studio Code.app/Contents/Resources/app/out/vs/code/electron-sandbox/workbench/workbench.htmlnt-awesome/6.1.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/2f8656e518.js">
    <script src="https://kit.fontawesome.com/2f8656e518.js" crossorigin="anonymous"></script>

    <title>home</title>
  </head>

<body>
    <%- include("../partials/header")%> 
    <main>     
        <h3>Nuestros productos</h3>
        <section>
          <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/bagel.jpeg" alt="bagel">
                 <p>Carrot Cake</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/budin.jpeg" alt="budin">
                 <p>Budin con Chispitas</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/selvanegra-1.jpeg" alt="selva">
                 <p>Selva Negra</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/cakes/tortacapascolores.jpeg" alt="crutons">
                 <p>Torta de Manzana</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/kujelarandanos.jpeg" alt="budin">
                 <p>Kujel de Arandanos</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/deserts/stroisel.jpeg" alt="stroisel">
                 <p>Stroilsel</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/cakes/tortatcapas.jpeg" alt="capas">
                 <p>Crocante</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
        <article class="hola"> 
            <div class="productos">
                 <img width="150" height="150" src="/images/cakes/tortatfrutilla.jpeg" alt="frutilla">
                 <p>Tarta de Frutilla</p>
            <p class="precios">$1000</p>
            <div class="cant">
                <label class="screen-reader-text" for="quantity"></label>
                <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
                <div class="envio">
                    <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
                </div>
            </div>
            </div>
        </article> 
    </section>
        <section class="masproducts">
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/2jalot.jpeg" alt="jalot">
                <p>Jalot</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/boios.jpeg" alt="boios">
                <p>boios</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/lajmashin.jpeg" alt="frutilla">
                <p>lajmashin</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/shabat & jaguim/shakshuka.jpg" alt="frutilla">
                <p>Shakshuka</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/tarts/tartabroc.jpeg" alt="tarta">
                <p>Tarta de Brocoli</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/tarts/tartaqueso.jpeg" alt="tarta">
                <p>Tarta de Queso</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/tarts/tartazapallito.jpeg" alt="tarta">
                <p>Tarta de Zapallito</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
        <article class="mas">
            <div class="productos">
                <img width="150" height="150" src="/images/dips/dip1.jpeg" alt="dip">
                <p>Dips</p>
           <p class="precios">$1000</p>
           <div class="cant">
               <label class="screen-reader-text" for="quantity"></label>
               <input type="number" id="quantity" class="input" step="1" min="0" max name="cart" value="1" title="Cantidad" size="4" placeholder inputmode="numeric" autocomplete="off">
               <div class="envio">
                   <button type="submit" class="envio"><a href="/">Agregar al Carrito</a></button>
               </div>
           </div>
           </div>
        </article>
    </section>

    </main>

    <%- include("../partials/footer")%> 
  
</body>
</html>